html,
body {
    margin: 0;
    padding: 0;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}

header {
    width: 100%;
    height: 10vh;
    display: block;
    background-color: #1a001a;
    /* background-color: #101010; */
}

.inner_header {
    width: 70vw;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.logo_container {
    height: 100%;
    display: table;
    float: left;
}

.logo_container h1 {
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
    font-weight: 100;
}

.logo_container h1 span {
    color: #A0D2EB;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

.navigation {
    margin: 0;
    padding: 32px 0 32px 0;
    float: right;
    height: auto;
    vertical-align: middle;
}

.navigation a {
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}

.navigation a:last-child {
    padding-right: 0;
}

.navigation a li {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
}

#thisthing {
    color: red;
}

.noselect {
    /* iOS Safari */
    -webkit-touch-callout: none;
    /* Safari */
    -webkit-user-select: none;
    /* Konqueror HTML */
    -khtml-user-select: none;
    /* Old versions of Firefox */
    -moz-user-select: none;
    /* Internet Explorer/Edge */
    -ms-user-select: none;
    /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
    user-select: none;
}