{% load static %}
<!DOCTYPE html>
<head>
    <title>Bridging Coursework</title>
    <link rel="icon" type="img/png" href="{% static 'blog/images/favicon64.png' %}"/>
    <meta name="author" content="Thomas Davies">
    <meta name="description" content="This website holds my blog posts and CV for the bridging coursework">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/base.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;600&display=swap" rel="stylesheet">
    {% block headtags %}{% endblock %}
</head>

<body>
    {% comment %} Responsive header adapted from the tutorial at https://www.youtube.com/watch?v=GxwHXxumdQk&t=633s {% endcomment %}
    <header>
        <div class="inner_header"> 
            <div class="logo_container">
                <h1>COURSE<span>WORK</span><h1>
            </div>

            <ul class="navigation">
                <a href="{% url 'home' %}"><li id="home_link">Home</li></a>
                <a href="{% url 'blog:post_detail' pk=latestpost.pk %}"><li id="posts_link">Posts</li></a>
                <a href="{% url 'cv' %}"><li id="cv_link">Digital CV</li></a>
                <a href="{% url 'contact' %}"><li id="contact_link">Contact</li></a>
            </ul>
        </div>
    </header>
    {% block content %}{% endblock %}
</body>
</html>